@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 45px;
    background-color: #418CFC;
}

h2{
    font-size: 30px;
    color: white;
    cursor: pointer;
}

ul,a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

a:hover{
    color: rgb(255, 179, 37);
    transition: all 0.3s;
}

li{
    display: inline-block;
    padding: 0px 20px;
}

button{
    font-size: 18px;
    background-color: #EEBCDA;
    border: none;
    border-radius: 10px;
    padding: 10px 25px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: orange;
    color: white;
    transition: all 1s;
}

.hero{
    padding: 75px 45px;
    background-color: #418CFC;
    text-align: center;
}

.hero h1{
    font-size: 90px;
    color: white;
}

.hero h4{
    font-size: 30px;
    font-weight: 200;
    font-style: italic;
    color: white;
}

.hero span{
    font-weight: 500;
}

.event h3{
    text-align: center;
    padding-top: 30px;
}

.event hr{
    width: 90%;
    margin: auto;
}

.flex-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
.flex-box {
    width: 30%; 
    background: white;
    color: black;
    padding: 15px;
    border-radius: 20px;
    margin: 10px;
    margin-top: 50px;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s, box-shadow 0.3s; 
  }

.flex-box:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35); 
  }
  
.flex-box img {
    width: 100%; 
    height: auto;
    border-radius: 5px;
  }
  
.flex-box h4 {
    font-size: 15px;
    color: black;
    font-weight: 350;
  }
  
.flex-box span {
    display: block;
    font-size: 14px;
    color: grey;
    font-weight: 300;
  }

footer{
    padding: 50px;
    color: white;
    background-color: #418CFC;
    text-align: center;
    font-weight: bold;
}
  
.desc-img img{
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35); 
}

.desc-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
.desc-box {
    width: 65%; 
    background:none;
    color: black;
    padding: 40px;
    border-radius: 5px;
    margin: 10px;
    margin-top: 40px;
    margin-bottom: 50px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.desc-box h1{
    text-align: center;
}
.desc-box p{
    text-align: justify;
}

.icon-container {
    display: flex; 
    justify-content: space-between; 
}

.icon-container i {
    font-size: 18px; 
    color: black; 
}

.desc-box button{
    font-size: 20px;
    background-color: #418CFC;
    border: none;
    border-radius: 7px;
    padding: 15px 100px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

.desc-box button:hover{
    background-color: #EEBCDA;
    color: white;
    transition: all 0.4s;
}

.Inspiration h3{
    text-align: center;
    padding-top: 30px;
}

.Inspiration hr{
    width: 90%;
    margin: auto;
}

.Inspiration-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
.Inspiration-box{
    width: 65%; 
    background:none;
    color: black;
    padding: 40px;
    border-radius: 5px;
    margin: 10px;
    margin-top: 40px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.stories-container {
    max-width: 400px; 
    margin: auto; 
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    margin-bottom: 50px;
    background-color: #f9f9f9; 
}

label {
    margin-top: 10px; 
    display: block; 
}

input, textarea {
    width: 100%; 
    padding: 10px; 
    margin: 10px 0; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

.stories-box button {
    padding: 10px 15px; 
    background-color: #007BFF; 
    color: white; 
    border: none; 
    border-radius: 4px;
    cursor: pointer; 
    font-size: 16px; 
}

button:hover {
    background-color: orange; 
}

.form-title h1,h5{
    text-align: center;
}

.form-title h1{
    margin-top: 50px;
    font-size: 50px;
}

.form-title h5{
    font-size: 20px;
    margin-bottom: 50px;
    font-weight: 300;
}